@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro-LightItalic.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "GothamPro", Times, serif;
  margin: 0;
  line-height: 1.42em;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.header {
  background: #27273e;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 1054px;
}

.header__container {
  height: 77px;
  position: relative;
}

.logo {
  top: 13px;
  left: 0;
  position: absolute;
}

.contacts {
   top: 13px;
  right: 0;
  position: absolute;
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  color: inherit;
  font-size: 21px;
  font-family: "GothamPro"
  font-weight: bold;
  text-decoration: none;
}

.contacts__description {
  color: rgba(236, 30, 121, .7);
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: underline;
}

.banner {
  background: #27273e;
}

.sidebar {
  width: 107px;
  margin-top: 27px;
  display: inline-block;
  vertical-align: top;
}

.menu__link {
  color: #ec1e79;
  font-family: "GothamPro";
  font-size: 12px;
  font-weight: bold;
  line-height: 3.34em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.menu__item {
  margin-top: 39px;
}

.menu__link:hover {
  color: #000000;
}

.menu__link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  background:  center center no-repeat;
}

.menu__link--main:before {
background-image: url('./img/icon/menu/main_icon.png');
}

.menu__link--main:hover:before {
  background-image: url('./img/icon/menu/main_icon_hover.png');
  }

.menu__link--feed:before {
  background-image: url('./img/icon/menu/feed_icon.png');
}

.menu__link--feed:hover:before {
  background-image: url('./img/icon/menu/feed_icon_hover.png');
}

.menu__link--wallet:before {
  background-image: url('./img/icon/menu/wallet_icon.png');
}

.menu__link--wallet:hover:before {
  background-image: url('./img/icon/menu/wallet_icon_hover.png');
}

.menu__item--active .menu__link {
  color: #000;
  text-decoration: underline
}

.menu__item--active .menu__link--main:before {
  background-image: url('./img/icon/menu/main_icon_hover.png');
}

.page-content {
  width: 813px;
  margin-top: 67px;
  padding-left: 67px;
  display: inline-block;
  vertical-align: top;
}

.section__title {
  margin-top: 0;
}

