.comments__sections {
  display: flex;
  flex-direction: row;
  margin-bottom: 56px;
}

.comments__avatar-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: contain;
}

.comments__discription {
  width: 691px;
  color: #221f1f;
  font-family: "Roboto";
  font-weight: 300;
}

.comments__date {
  color: #656464;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.4em;
}

.comments__name {
  margin-bottom: 9px;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 1.5em;
}

.comments__text {
  margin: 0;
  font-family: "Roboto";
  font-weight: lighter;
  line-height: 1.6em;
}