.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  color: inherit;
  font-size: 21px;
  font-family: "GothamPro";
  font-weight: bold;
  text-decoration: none;
}

.dropdown__link {
  color: rgba(236, 30, 121, .7);
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans";
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

.contacts__description--dropdown {
  position: relative;
}

.contacts__description--dropdown:hover .dropdown__link {
  color: #5dd1f8;
}

.contacts__description--dropdown:hover .dropdown__menu {
  right: 0;
  opacity: 0.95;
}

.dropdown__menu {
  position: absolute;
  width: 163px;
  height: 71px;
  top: 162%;
  right: -999999px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
  opacity: 0;
  transition: opacity .4s;
}

.dropdown__menu::before {
  content: "";
  display: block;
  height: 25px;
  left: 0;
  right: 0;
  top: -25px;
  position: absolute;
}

.dropdown__menu--triangle {
   width: 20px;
   height: 20px;
   background-color: #fff;
   position: absolute;
   top: -9px;
   right: 3px;
   transform: rotate(45deg);
   border-radius: 4px;
}

.dropdown__list {
  padding-top: 18px;
  padding-left: 11px;
  text-align: left;
}

.dropdown__item {
  color: #ec1e79;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 5px;
}

.dropdown__item:nth-child(2) {
  margin-bottom: 0;
}

.dropdown__item--black {
  color: #221f1f;
  font-family: "GothamPro";
  font-weight: 300;
}