.copyright {
  display: flex;
}

.copyright__developer {
  max-width: 40%;
}

.copyright__text {
  color: #ffffff;
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
}

.copyright__ls {
  font-family: "Gotham";
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}

.copyright__developer-name {
  font-family: "Gotham";
  font-weight: 700;
}