.copyright__developer {
  width: 33%;
  position: absolute;
  left: 0;
  top: 14px;
}

.copyright__developer_ls {
  width: 248px;
}

.copyright__text {
  color: #ffffff;
  font-family: "Gotham";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
}


.copyright__ls {
  font-family: "Gotham";
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}

.copyright__developer-name {
  font-family: "Gotham";
  font-weight: 700;
}