.features__section {
  margin-bottom: 74px;
}

.features__section--title {
  margin-bottom: 74px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.features__office {
  flex: 0 0 205px;
  margin-right: 63px;
}

.features__office:nth-child(1) {
  margin-left: 26px;
}
.features__office:nth-child(3) {
  margin-right: 0;
}


.features__icon {
  width: 68px;
  height: 68px;
  background-color: #27273e;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 12px;
}

.features__icon--pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../img/icon/sprites.png');
}

.pic__flower {
  width: 27px;
  height: 31px;
  background-position: -603px -238px;
}

.pic__star {
  width: 32px;
  height: 32px;
  background-position: -551px -238px;
}

.pic__painter {
  width: 28px; 
  height: 29px;
  background-position: -650px -238px;
}

.features__title {
  color: #212121;
  font-family: "GothamPro";
  font-size: 11px;
  font-weight: bold;
  line-height:4.67em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}

.features__descriptions {
  font-family: "GothamPro";
  font-weight:normal;
  line-height: 1.9em;
}

.features__characterization {
  text-align: center;
  margin-bottom: 15px;
}

.features__descriptions--office {
  list-style-type: disc;
  color: #ec1e79;
  margin-left: 30px;
}

.features__descriptions--text {
  text-align: left;
  color: #221f1f;
}