.footer {
  background: #27273e;
  flex: 1;
  padding: 10px 0;
}

.footer__col {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer__logo {
  display: block;
}

.footer__col--align-right {
  justify-content: flex-end;
}

.footer__col--align-center {
    justify-content: center;
}