.container__form {
  width: 66%;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.form__review {
  max-width: 100%;
  max-height: 100%;
  padding: 50px 70px;
}

.form__input--text {
  display: flex;
  flex-wrap: wrap;
}

.from__name--vk {
  flex-direction: row;
}

.form__name {
  flex-direction: column;
  flex: 1;
}