.container__inner {
  width: 767px;
  margin-bottom: 50px;
}

.form {
  background: #f5f5f5;
  padding: 7% 13%;
}

.form__title {
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 25px;
}

.form__row {
  margin-bottom: 17px;
  display: flex;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}

.form__block:last-child {
  margin-right: 0;
}

.form__block-title {
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 300;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.form__input:focus {
  outline: none;
  border: 1px solid #ec1e79;
  border-radius: 3px;
}

.form__input::placeholder {
  opacity: 0.5;
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 300;
  line-height: 54px;
}

.form__input--textarea {
  resize: vertical;
}

.form__content {
  margin-bottom: 8px;
}

.form__buttons {
  display: flex;
}

.form__controls-area {
  width: 46%;
}

.form-controlls__title {
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}

.form-controlls__buttons {
  display: flex;
}

.form-controlls__btn {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.form-controlls__btn:last-child {
  margin-right: 0;
}

.form-controlls__real-radio {
  display: none;
}

.form-controlls__fake-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
  position: relative;
  margin-right: 10px;
}

.form-controlls__btn-title {
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 300;
}

.form-controlls__real-radio:checked~.form-controlls__fake-radio::after {
  width: 8px;
  height: 8px;
}

.form-controlls__real-radio:checked~.form-controlls__fake-radio {
  border-color: #ec1e79;
}

.form-controlls__real-radio:checked~.form-controlls__btn-title {
  color: #ec1e79;
}

.form-controlls__fake-radio::after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ec1e79;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.btn {
  padding: 18px 21px;
  background-color: #27273e;
  border-radius: 3px;
  color: #ffffff;
  font-family: "GothamPro";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.btn:hover {
  background-color: #ec1e79; 
  transition: .2s;
}

.form__buttons-area {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}