.sidebar {
  display: flex;  
  width: 15%;
  margin-right: 21px;
}

.menu__item {
  margin-bottom: 10px;
}

.menu__link {
  color: #ec1e79;
  font-family: "GothamPro";
  font-size: 12px;
  font-weight: bold;
  line-height: 3.34em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.menu__item:nth-child(3) {
  margin-bottom: 0;
}

.menu__link:hover {
  color: #000000;
  transition: .2s;
}

.menu__link:before {
  content: "";
  display: inline-flex;
  align-items: center;
  width: 20px;
  height: 18px;
  background:  center center no-repeat;
  margin-right: 18px;
  transform: translate(0%, -25%);
  background-image: url('../../img/icon/sprites.png');
}

.menu__link--main:before {
  width: 17px; 
  height: 15px;
  background-position: -856px -238px;
}

.menu__link--main:hover:before {
  width: 17px; 
  height: 15px;
  background-position: -893px -238px;
}

.menu__link--feed:before {
  width: 20px; 
  height: 18px;
  background-position: -698px -238px;
}

.menu__link--feed:hover:before {
  width: 20px; 
  height: 18px;
  background-position: -738px -238px;
}

.menu__link--wallet:before {
  width: 19px; 
  height: 16px;
  background-position: -778px -238px;
}

.menu__link--wallet:hover:before {
  width: 19px; 
  height: 16px;
  background-position: -817px -238px;
}

.menu__item--active .menu__link {
  color: #000;
}

.menu__item--active .menu__link--main:before {
  background-position: -893px -238px;  
}

.menu__item--active .menu__link--feed:before {
  background-position: -738px -238px;
}

.menu__item--active .menu__link--wallet:before {
  background-position: -817px -238px;
}