.pagination {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}

.pagination__display {
  display: inline-flex;
  width: 110px;
  margin-right: 17px;
  color: #656464;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: lighter;  
}

.pagination__controlls,
.pagination__sheets {
  display: inline-flex;
  flex-direction: row;
}

.pagination__link,
.pagination__next,
.pagination__prev {
  color: #221f1f;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  text-decoration: none;
  padding: 2px 8px;
}

.pagination__sheets--active .pagination__link {
  width: 25px;
  height: 25px;
  border-radius: 10%;
  background-color: #27273e;
  color: #fff;
}

.page__comments .pagination__sheets--active .pagination__link {
  color: #ec1e79;
}