.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  flex: 1 0 260px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.partners__pic {
  max-width: 100%;
  max-height: 100%;
  filter:grayscale(100%);

}


.partners__pic:hover {
  filter:grayscale(0);
  transition: 0.5s;
}

.partners__label--pic:nth-child(3n) {
  margin-right: 0;
}

.partners__label--pic:nth-child(n+4) {
  margin-bottom: 0;
}