.share__social {
  width: 24%;
  margin-right: 15px;
  margin-top: 17px;
}

.share {
  content: "";
  display: flex;
  background-color: #27273e;
  background-image: url('../../img/icon/Group_1.png');
  flex: 1;
  margin-bottom: 30px;
}

.share__pattern {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 5px;
}

.share__text {
  margin: 0 auto;
  color: #ffffff;
  font-family: "GothamPro";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7em;
  text-align: center;
}

.share__discount {
  color: #ec1e79;
  font-family: "GothamPro";
  font-weight: 700;
}