.social__text-link {
  padding: 0;
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 700;
  line-height: 2em;
  text-align: center;
}

.social__network{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__icon {
    margin-right: 7px;
  }

.social__icon:nth-child(5) {
  margin-right: 0;
}

.social__link {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url('../../img/icon/sprites.png');
  background-color: #fff;
  }

.social__icon-vk {
  background-position: -1025px -231px;
}

.social__icon-vk:hover {
  background-color: #ec1e79;
  transition: 0.3s;
}

.social__icon-fb {
  background-position: -184px -315px;
}

.social__icon-fb:hover {
  background-color: #ec1e79;
  transition: 0.3s;
}

.social__icon-google {
  background-position: -928px -233px;
}

.social__icon-google:hover {
  background-color: #ec1e79;
  transition: 0.3s;
}

.social__icon-twitter {
  background-position: -992px -233px;
}

.social__icon-twitter:hover {
  background-color: #ec1e79;
  transition: 0.3s;
}

.social__icon-mail {
  background-position: -961px -233px;
}

.social__icon-mail:hover {
  background-color: #ec1e79;
  transition: 0.3s;
}